<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>Mandatory mask wearing detection</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
 
        .card-style {
            background-color: #dcdcdc;
 
        }
 
        .content {
            padding: 15px;
            color: white;
            background-color: rgb(153, 156, 150);
            /* font-size: 1rem; */
        }
 
        @media (max-width: 430px) and (min-width: 200px) {
 
            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }
 
            .content-h1 {
 
                font-size: 1rem;
            }
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>
 
<body>
 
    <div>
        <img src="static\images\open1.jpg" class="w3-border w3-padding" alt="Kalam Sardar AI PVT LTD"
            style="width:100%">
    </div>
 
    <div class="container my-2">
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
 
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
 
           
                <h3 style="line-height: 100%;">OMG! The Person is not wearing mask, The person is not only careless for his/her health but also the person is destroying the social awerness </br> </br> 
                     ঈশ্বর! ব্যক্তি মুখোশ পরা হয় না, ব্যক্তি কেবল তার স্বাস্থ্যের জন্যই অমনোযোগী নন, সেই ব্যক্তিটি সামাজিক সচেতনতাকে নষ্ট করছে</br> </br>
                  हे भगवान! व्यक्ति ने मास्क नहीं पहना है, व्यक्ति न केवल अपने स्वास्थ्य के प्रति लापरवाह है बल्कि व्यक्ति सामाजिक जागरूकता को भी नष्ट कर रहा है  </br> </br></h3>
                <hr class="w-100 mx-auto ">
            </div>
        </div>
 
        <h1> Nessary For Wearing Mask in COVID-19 </h1>
        <p><strong>COVID-19 spreads mainly from person to person through respiratory droplets. Respiratory droplets travel into the air when you cough, sneeze, talk, shout, or sing. These droplets can then land in the mouths or noses of people who are near you or they may breathe these droplets in.

Masks are a simple barrier to help prevent your respiratory droplets from reaching others. Studies show that masks reduce the spray of droplets when worn over the nose and mouth.

You should wear a mask, even if you do not feel sick. This is because several studies have found that people with COVID-19 who never develop symptoms (asymptomatic) and those who are not yet showing symptoms (pre-symptomatic) can still spread the virus to other people. Wearing a mask helps protect those around you, in case you are infected but not showing symptoms.</strong></p>
        <p></p>
        <p>COVID-19 মূলত ব্যক্তি থেকে শ্বাসকষ্টের বোঁটার মাধ্যমে একজনের মধ্যে ছড়িয়ে পড়ে। আপনি যখন কাশি, হাঁচি, কথা বলছেন, চিৎকার করবেন বা গান করবেন তখন শ্বাস প্রশ্বাসের ফোঁটা বাতাসে ভ্রমণ করে। এই ফোঁটাগুলি তখন আপনার কাছের মানুষদের মুখে বা নাক দিয়ে landুকতে পারে বা তারা এই ফোঁটাগুলি শ্বাস নিতে পারে।

আপনার শ্বাস প্রশ্বাসের ফোঁটা অন্যের কাছে পৌঁছানো রোধে সহায়তা করার জন্য মুখোশগুলি একটি সাধারণ বাধা। অধ্যয়নগুলি দেখায় যে মুখোশগুলি নাক এবং মুখের উপর পরে যখন ফোঁটাগুলির স্প্রে হ্রাস করে।

আপনার অসুস্থ না লাগলেও আপনার মুখোশ পরে নেওয়া উচিত। এটি কারণ অনেক গবেষণায় দেখা গেছে যে COVID-19-তে আক্রান্ত ব্যক্তিরা কখনই লক্ষণগুলি বিকাশ করে না (সংক্রামিত) এবং যারা এখনও লক্ষণগুলি প্রদর্শন করেন না (প্রাক-লক্ষণাত্মক) এখনও অন্য লোকগুলিতে ভাইরাস ছড়াতে পারেন। মুখোশ পরা আপনার চারপাশের লোকদের সুরক্ষায় সহায়তা করে, আপনি যদি সংক্রামিত হন তবে লক্ষণগুলি না দেখায়।</p>
        <p>COVID-19 मुख्य रूप से श्वसन बूंदों के माध्यम से एक व्यक्ति से दूसरे व्यक्ति में फैलता है। जब आप खांसते, छींकते हैं, बात करते हैं, चिल्लाते हैं या गाते हैं तो श्वसन की बूंदें हवा में चली जाती हैं। फिर ये बूंदें आपके आस-पास के लोगों के मुंह या नाक में जा सकती हैं या वे इन बूंदों को अंदर ले जा सकती हैं।

आपकी सांस की बूंदों को दूसरों तक पहुंचने से रोकने में मदद करने के लिए मास्क एक सरल बाधा है। अध्ययनों से पता चलता है कि नाक और मुंह पर पहने जाने पर मास्क बूंदों के स्प्रे को कम करते हैं।

आपको मास्क पहनना चाहिए, भले ही आप बीमार न हों। ऐसा इसलिए है क्योंकि कई अध्ययनों में पाया गया है कि COVID-19 वाले लोग जो कभी भी लक्षण (स्पर्शोन्मुख) विकसित नहीं करते हैं और जो अभी तक लक्षण नहीं दिखा रहे हैं (पूर्व-लक्षण) अभी भी अन्य लोगों में वायरस फैला सकते हैं। यदि आप संक्रमित हैं लेकिन लक्षण नहीं दिखा रहे हैं तो मास्क पहनने से आपके आस-पास के लोगों की रक्षा करने में मदद मिलती है।</p>
       
    </div>
 
    <section>
 
        <div class="container">
            <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 content-h1">
                SOME IMAGES OF TERRIBLE COVID-19 & GUIDELINES</h1>
        </div>
 
        <div class="container">
 
            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\demo1.jpg" alt="">
                        <h3 class="card-text">Wear Mask</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\demo2.jpg" alt="">
                        <h3 class="card-text">Social Distance</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px" class="img-fluid" src="static\images\demo3.jpg" alt="">
                        <h3 class="card-text">Clean</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\demo4.jpg" alt="">
                        <h3 class="card-text">Immunity</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\demo5.jpg" alt="">
                        <h3 class="card-text">Mental Health</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 10px;" class="img-fluid" src="static\images\demo6.jpg" alt="">
                        <h3 class="card-text">Vaccination</h3>
                    </div>
                </div>
 
            </div>
 
            <!-- <div class="container-fluid contents"> -->
            <h5 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                class="text-center my-3 contents">
                Email:kalamsardar2001@gmail.com(MOB:-7478748822)</h5>
            <!-- </div> -->
        </div>
 
    </section>
 
</body>
 
</html>